# PR Helm values
global:
  vanityURL: ""
  commit_sha: ""
  image:
    tag: develop

database:
  autoCreate: false
  # databaseHost: dev-patroni
  # existingSecret: dev-patroni-secret

redis:
  enabled: false
  auth:
    existingSecret: redis
    existingSecretPasswordKey: database-password

nginx:
  replicaCount: 1

frontend:
  replicaCount: 1
  settings:
    environmentName: dev
    keycloak:
      url: https://sso-dev-5b7aa5-dev.apps.silver.devops.gov.bc.ca/auth

webapi:
  replicaCount: 1

plr-intake:
  replicaCount: 1